
Debug/Vec3.obj
Debug/vc143.pdb
Debug/vc143.idb
Debug/Sphere.obj
Debug/Physio.vcxproj.FileListAbsolute.txt
Debug/Physio.tlog/Physio.lastbuildstate
Debug/Physio.tlog/link.write.1.tlog
Debug/Physio.tlog/link.read.1.tlog
Debug/Physio.tlog/link.command.1.tlog
Debug/Physio.tlog/CL.write.1.tlog
Debug/Physio.tlog/CL.read.1.tlog
Debug/Physio.tlog/Cl.items.tlog
Debug/Physio.tlog/CL.command.1.tlog
Debug/Physio.pdb
Debug/Physio.log
Debug/Physio.ilk
Debug/Physio.exe.recipe
Debug/Physio.exe
Debug/main.obj
Debug/freeglut.dll
Debug/ColliderObject.obj
Debug/Box.obj
.vs/Physio/v17/ipch/AutoPCH/8de90ce07b578139/MAIN.ipch
.vs/Physio/v17/ipch/AutoPCH/353b1ace0c8951f3/COLLIDEROBJECT.ipch
.vs/Physio/v17/Browse.VC.opendb
.vs/Physio/v17/Browse.VC.db-wal
.vs/Physio/v17/Browse.VC.db-shm
.vs/Physio/v17/Browse.VC.db
.vs/Physio/v17/.suo
.vs/Physio/FileContentIndex/62bcefed-ff44-40f7-95ba-4df17349da22.vsidx
.vs/Physio/FileContentIndex/871d46de-3460-452d-b589-252908194df1.vsidx
/vs
